<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>


<div class="container">
    <h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <table>
        <tr>
            <td><span class="glyphicon glyphicon-user"></span><input type="text" name="emailId" ngModel #emailId="ngModel" placeholder="Enter Email-Id" required minlength="2" maxlength="20"/></td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-lock"></span><input type="password" name="password" ngModel #password="ngModel" placeholder="Enter Password" required minlength="2" maxlength="10"/></td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                 New User? <a href="register">SignUp</a>
            </td>
        </tr>
        
    </table>
</form>


<div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
<div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>

<div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters</div>
<div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters</div>


</div>