<h1>Register User</h1>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">

	<table>
		<tbody>
            <tr>
				<td>EmpId</td>
				<td><input type="text" name="empId" ngModel  /></td>
			</tr>
			<tr>
				<td>EmpName</td>
				<td><input type="text" name="empName" ngModel/></td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input type="text" name="salary" ngModel /></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td>
					<select name="gender" ngModel>
						<option value="" selected>Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Others">Others</option>
					</select>
				</td>
			</tr>
            <tr>
				<td>DateOfJoin</td>
				<td><input type="date" name="doj" ngModel /></td>
			</tr>
            <tr>
				<td>Country</td>
				<td>
				<select name="country" ngModel>
					<option value="" selected>Select Country</option>
					<option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
				</select>
				</td>
				</tr>
			<tr>
				<td>Email-Id</td>
				<td><input type="text" name="emailId" ngModel /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" ngModel /></td>
			</tr>
            <tr>
				<td>Department</td>
				<td>
					<select name="department" ngModel>
						<option value="" selected>Select Department</option>
						<option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}</option>
					</select>
				</td>
				</tr>
			<tr>
				<td colspan="2" align="center">
					<button class="btn btn-primary">Register</button>
					Already User? <a href="login">SignIn</a>
				</td>
			</tr>
		</tbody>
	</table>
</form>
