<!--
<app-test></app-test>
-->

<!--<app-test2></app-test2>-->

<!--<h1>Login Form</h1>

<form>
    <label>Email:</label><input type="email" name="email"/><br>
    <label>password:</label><input type="password" name="password"/><br>
    <button>submit</button>
</form>-->

<!-- <app-login></app-login> -->

<!-- <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ShowEmployees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ShowEmpById</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>          
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li> 
            </ul>
        </form>
      </div>
    </div>
  </nav> -->


  <app-header></app-header>
<br/>
<marquee><h1>Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>